.button {
  background-color: rgb(1, 112, 112);
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 4px 4px;
  color: white;
  font-size: 26px;
  height: 26px;
}

.button:hover {
  background-color: rgb(1, 92, 92);
  cursor: pointer;
}