.Surface {
  background-color: rgb(1, 112, 112);
  padding: 10px;
  border-radius: 2px;
  display: flex;
  box-shadow: 2px 2px;
  color: white;
  max-width: 1200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
}


@media only screen and (max-width: 768px) {
  .Surface {
    flex-direction: column;
  }
}
.Content {
  flex: 3;
}


.Comments {
  flex: 2;

}

.Comment-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

}