.Surface {
  background-color: rgb(1, 112, 112);
  padding: 10px;
  border-radius: 2px;
  display: inline-flex;
  box-shadow: 2px 2px;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px;
  margin-bottom: 110px;
}


@media only screen and (max-width: 768px) {
  .Surface {
    flex-direction: column;
  }
  .Comments {
    margin-left: 0px;
  }
}
.Content {
  flex: 3;
}


.Comments {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 5px;

}

.Comment-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  list-style-position: outside;
  flex-grow: 1
}

.Input {
  justify-self: flex-end;
}